<div class="et-menu-bar-container {{decorativeClassNames}}">
  <div class="et-menu-bar {{configurableClassNames}}">
    {{yield (hash
      load=(component "ember-theater/menu-bar/load" keyboardActivated=keyboardActivated theaterId=theaterId openMenu=(action "openMenu" "ember-theater/menu-bar/load"))
      reset=(component "ember-theater/menu-bar/reset" keyboardActivated=keyboardActivated theaterId=theaterId openMenu=(action "openMenu" "ember-theater/menu-bar/reset"))
      rewind=(component "ember-theater/menu-bar/rewind" keyboardActivated=keyboardActivated theaterId=theaterId openMenu=(action "openMenu" "ember-theater/menu-bar/rewind"))
      resize=(component "ember-theater/menu-bar/resize" keyboardActivated=keyboardActivated theaterId=theaterId openMenu=(action "openMenu" "ember-theater/menu-bar/resize"))
      save=(component "ember-theater/menu-bar/save" keyboardActivated=keyboardActivated theaterId=theaterId openMenu=(action "openMenu" "ember-theater/menu-bar/save"))
    )}}
  </div>
</div>

{{#if currentMenu}}
  {{component currentMenu
    theaterId=theaterId
    keyboardActivated=keyboardActivated
    closeMenu=(action "closeMenu")
  }}
{{/if}}
