{{#each expressionContainers as |expressionContainer|}}
  <div class='et-character-expression-container'>
    {{ember-theater/director/character/expression
      expression=expressionContainer.expression
      autoResolve=autoResolve
      line=expressionContainer.line
    }}
  </div>
{{/each}}
