{{#each expressionContainers as |expressionContainer|}}
  <div class='et-character-expression-container'>
    {{ember-theater/director/character/expression
      expression=expressionContainer.expression
      directable=expressionContainer.directable
    }}
  </div>
{{/each}}
