$et-menu-included: false !default;
$et-text-included: false !default;

@if ($et-menu-included == true) {
  .et-menu.et-block {
    max-height: 100%;
    border-width: $et-menu-block-border-width;
    border-radius: $et-menu-block-border-radius;

    .et-menu-option, .et-menu-input {
      width: $et-menu-option-block-width;
      border-width: $et-menu-option-block-border-width;
    }
  }

  @media (min-width: map-get($breakpoints, small)) {
    .et-menu.et-block {
      top: 0;
      right: 0;
      left: 0;
      padding: $et-menu-block-padding * map-get($breakpoint_factors, small);

      .et-menu-header {
        font-size: $et-menu-header-block-font-size * map-get($breakpoint_factors, small);
        margin-bottom: $et-menu-header-block-margin-bottom * map-get($breakpoint_factors, small);
        line-height: $et-menu-header-block-line-height * map-get($breakpoint_factors, small);
      }

      .et-menu-option {
        font-size: $et-menu-option-block-font-size * map-get($breakpoint_factors, small);
      }

      .et-menu-option, .et-menu-input {
        width: $et-menu-option-block-width;
        margin-bottom: $et-menu-option-block-margin-bottom * map-get($breakpoint_factors, small);
        border-width: $et-menu-option-block-border-width;
        line-height: $et-menu-option-block-line-height * map-get($breakpoint_factors, small);
      }
    }

    .et-text-menu {
      .et-menu.et-block {
        margin-top: $et-text-menu-block-margin-top * map-get($breakpoint_factors, small);
      }
    }
  }

  @media (min-width: map-get($breakpoints, medium)) {
    .et-menu.et-block {
      transform: translateY(-$et-menu-block-top);

      top: $et-menu-block-top;
      right: $et-menu-block-right;
      left: $et-menu-block-left;
      padding: $et-menu-block-padding;

      .et-menu-header {
        font-size: $et-menu-header-block-font-size;
        margin-bottom: $et-menu-header-block-margin-bottom;
        line-height: $et-menu-header-block-line-height;
      }

      .et-menu-option {
        font-size: $et-menu-option-block-font-size;
      }

      .et-menu-option, .et-menu-input {
        margin-bottom: $et-menu-option-block-margin-bottom;
        line-height: $et-menu-option-block-line-height;
      }
    }

    .et-text-menu {
      .et-menu.et-block {
        margin-top: $et-text-menu-block-margin-top;
        width: $et-text-menu-block-width;
      }
    }
  }

  .et-text-menu {
    .et-menu.et-block {
      transform: translateY(0);
    }
  }
}

@if ($et-text-included == true) {
  .et-text.et-block {
    border-radius: $et-text-block-border-radius;

    .et-text-caption {
      position: absolute;
      border-radius: $et-text-caption-block-border-radius;

      &.center {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  @media (min-width: map-get($breakpoints, small)) {
    .et-text.et-block {
      left: $et-text-block-left * map-get($breakpoint_factors, small);
      right: $et-text-block-right * map-get($breakpoint_factors, small);
      bottom: $et-text-block-bottom * map-get($breakpoint_factors, small);
      height: $et-text-block-height-responive-small * map-get($breakpoint_factors, small);
      line-height: $et-text-block-line-height * map-get($breakpoint_factors, small);
      font-size: $et-text-block-font-size * map-get($breakpoint_factors, small);
      padding: $et-text-block-padding-ends * map-get($breakpoint_factors, small) $et-text-block-padding-sides * map-get($breakpoint_factors, small);
      margin: $et-text-block-margin * map-get($breakpoint_factors, small);
      border-width: $et-text-block-border-width * map-get($breakpoint_factors, small);

      .et-text-caption {
        top: $et-text-caption-block-top * map-get($breakpoint_factors, small);
        padding: $et-text-caption-block-padding-ends * map-get($breakpoint_factors, small) $et-text-caption-block-padding-sides * map-get($breakpoint_factors, small);
        font-size: $et-text-caption-block-font-size * map-get($breakpoint_factors, small);
        border-width: $et-text-block-border-width * map-get($breakpoint_factors, small);

        &.left {
          left: $et-text-caption-block-side * map-get($breakpoint_factors, small);
        }

        &.right {
          right: $et-text-caption-block-side * map-get($breakpoint_factors, small);
        }
      }
    }
  }

  @media (min-width: map-get($breakpoints, medium)) {
    .et-text.et-block {
      left: $et-text-block-left;
      right: $et-text-block-right;
      bottom: $et-text-block-bottom;
      height: $et-text-block-height;
      line-height: $et-text-block-line-height;
      font-size: $et-text-block-font-size;
      padding: $et-text-block-padding-ends $et-text-block-padding-sides;
      margin: $et-text-block-margin;
      border-width: $et-text-block-border-width;

      .et-text-caption {
        top: $et-text-caption-block-top;
        padding: $et-text-caption-block-padding-ends $et-text-caption-block-padding-sides;
        font-size: $et-text-caption-block-font-size;
        border-width: $et-text-block-border-width;

        &.left {
          left: $et-text-caption-block-side;
        }

        &.right {
          right: $et-text-caption-block-side;
        }
      }
    }
  }
}
