$et-menu-included: false !default;
$et-text-included: false !default;

@if ($et-menu-included == true) {
  .et-menu.et-wide {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-width: $et-menu-full-border-width;
    border-radius: $et-menu-full-border-radius;

    .et-menu-option, .et-menu-input {
      border-width: $et-menu-option-full-border-width;
    }
  }

  @media (min-width: map-get($breakpoints, small)) {
    .et-menu.et-wide {
      padding: $et-menu-full-padding * map-get($breakpoint_factors, small);

      .et-menu-header {
        font-size: $et-menu-header-full-font-size * map-get($breakpoint_factors, small);
        margin-bottom: $et-menu-header-full-margin-bottom * map-get($breakpoint_factors, small);
      }

      .et-menu-option {
        font-size: $et-menu-option-full-font-size * map-get($breakpoint_factors, small);
      }

      .et-menu-option, .et-menu-input {
        width: $et-menu-option-full-width * 0.95;
        margin: $et-menu-option-full-margin-bottom auto;
      }
    }

    .et-text-menu {
      .et-menu.et-wide {
        margin-top: $et-text-menu-wide-margin-top * map-get($breakpoint_factors, small);
      }
    }
  }

  @media (min-width: map-get($breakpoints, medium)) {
    .et-menu.et-wide {
      padding: $et-menu-full-padding;

      .et-menu-header {
        font-size: $et-menu-header-full-font-size;
        margin-bottom: $et-menu-header-full-margin-bottom;
      }

      .et-menu-option {
        font-size: $et-menu-option-full-font-size;
      }

      .et-menu-option, .et-menu-input {
        width: $et-menu-option-full-width;
        margin-bottom: $et-menu-option-full-margin-bottom;
      }
    }
  }

  .et-text-menu {
    .et-menu.et-wide {
      margin-top: $et-text-menu-wide-margin-top;
    }
  }
}

@if ($et-text-included == true) {
  .et-text.et-wide {
    left: 0;
    right: 0;
    border-width: $et-text-wide-border-width;
    border-radius: $et-text-wide-border-radius;

    .et-text-caption {
      position: absolute;
      border-radius: $et-text-caption-wide-border-radius;

      &.center {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  @media (min-width: map-get($breakpoints, small)) {
    .et-text.et-wide {
      bottom: $et-text-wide-bottom * map-get($breakpoint_factors, small);
      height: $et-text-wide-height-responsive-small * map-get($breakpoint_factors, small);
      line-height: $et-text-wide-line-height * map-get($breakpoint_factors, small);
      font-size: $et-text-wide-font-size * map-get($breakpoint_factors, small);
      padding: $et-text-wide-padding * map-get($breakpoint_factors, small);
      margin: $et-text-wide-margin * map-get($breakpoint_factors, small);

      .et-text-caption {
        top: $et-text-caption-wide-top * map-get($breakpoint_factors, small);
        padding: $et-text-caption-wide-padding-ends * map-get($breakpoint_factors, small) $et-text-caption-wide-padding-sides * map-get($breakpoint_factors, small);
        font-size: $et-text-caption-wide-font-size * map-get($breakpoint_factors, small);

        &.left {
          left: $et-text-caption-wide-side * map-get($breakpoint_factors, small);
        }

        &.right {
          right: $et-text-caption-wide-side * map-get($breakpoint_factors, small);
        }
      }
    }
  }

  @media (min-width: map-get($breakpoints, medium)) {
    .et-text.et-wide {
      bottom: $et-text-wide-bottom;
      height: $et-text-wide-height;
      line-height: $et-text-wide-line-height;
      font-size: $et-text-wide-font-size;
      padding: $et-text-wide-padding;
      margin: $et-text-wide-margin;

      .et-text-caption {
        top: $et-text-caption-wide-top;
        padding: $et-text-caption-wide-padding-ends $et-text-caption-wide-padding-sides;
        font-size: $et-text-caption-wide-font-size;
      }

      &.left {
        left: $et-text-caption-wide-side;
      }

      &.right {
        right: $et-text-caption-wide-side;
      }
    }
  }
}
