$et-paper-primary-color: #FFFFFF !default;
$et-paper-secondary-color: #444444 !default;

$et-paper-border-style: $et-default-border-style !default;
$et-paper-border-color: $et-paper-secondary-color !default;
$et-paper-background: $et-paper-primary-color !default;
$et-paper-color: $et-paper-secondary-color !default;

$et-button-paper-background-color: $et-paper-primary-color !default;
$et-button-paper-color: $et-paper-secondary-color !default;
$et-button-paper-border-color: $et-paper-secondary-color !default;
$et-button-paper-border-style: $et-default-border-style !default;

$et-button-paper-hover-background-color: $et-paper-secondary-color !default;
$et-button-paper-hover-color: $et-paper-primary-color !default;
$et-button-paper-hover-border-color: $et-paper-secondary-color !default;

$et-input-paper-background-color: $et-paper-primary-color !default;
$et-input-paper-color: $et-paper-secondary-color !default;
$et-input-paper-border-color: $et-paper-secondary-color !default;
$et-input-paper-border-style: $et-button-paper-border-style !default;

$et-input-paper-focus-border-color: $et-paper-secondary-color !default;
