.et-curtain {
  @extend .et-full-screen;

  color: $et-curtain-color;
  text-align: center;

  .et-game-title {
    font-size: $et-curtain-game-title-font-size;
    margin-bottom: $et-curtain-game-title-margin-bottom;
  }

  .progress-bar {
    height: $et-curtain-progress-bar-dimensions;
    width: $et-curtain-progress-bar-dimensions;
    font-size: $et-curtain-progress-bar-font-size;
    margin: 0 auto;
  }

  @media (min-width: map-get($breakpoints, small)) {
    .et-curtain {
      padding: 0;
    }
  }

  @media (min-width: map-get($breakpoints, medium)) {
    .et-curtain {
      padding: $et-curtain-padding-top $et-curtain-padding-sides;
    }
  }
}
