{{#if nameTranslation}}
  <div class='et-text-caption' style={{nameStyle}}>{{nameTranslation}}</div>
{{/if}}
{{ember-theater/director/directable/text/body
  instantWriteText=instantWriteText
  keyboardActivated=keyboardActivated
  keyboardPriority=keyboardPriority
  keys=keys
  resolve=resolve
  text=textTranslation
  typeSpeed=typeSpeed
  typeAnimation=typeAnimation
}}
