$et-ember-primary-color: #E1563F !default;
$et-ember-secondary-color: #AA412F !default;
$et-ember-highlight-color: #f2d1cb !default;
$et-ember-neutral-color: #FAF4F1 !default;

$et-ember-border-width: $et-default-border-width !default;
$et-ember-border-color: $et-ember-secondary-color !default;
$et-ember-background: $et-ember-primary-color !default;
$et-ember-color: $et-ember-neutral-color !default;

$et-button-ember-hover-background-color: $et-ember-highlight-color !default;
$et-button-ember-hover-color: $et-ember-primary-color !default;

$et-input-ember-focus-border-color: $et-ember-highlight-color !default;
$et-input-ember-background-color: $et-ember-neutral-color !default;
$et-input-ember-color: $et-ember-primary-color !default;
$et-input-ember-border-color: $et-ember-secondary-color !default;
