$et-input-border-radius: $et-default-border-radius !default;
$et-input-font-size: $et-default-font-size !default;
$et-input-transition-speed: $et-default-transition-speed !default;
$et-input-focus-border-color: $et-highlight-color !default;
$et-input-background-color: $et-neutral-color !default;
$et-input-color: $et-primary-color !default;
$et-input-border-color: $et-secondary-color !default;
$et-input-border-width: $et-default-border-width !default;
