$et-panel-border-color: $et-secondary-color !default;
$et-panel-border-width: $et-default-border-width !default;
$et-panel-background: $et-primary-color !default;
$et-panel-color: $et-neutral-color !default;
