{{#if header}}
  <div class='et-choice-header'>{{header}}</div>
{{/if}}
{{#each choices as |choice index|}}
  {{ember-theater/director/directable/choice/option
    activeIndex=activeIndex
    index=index
    keyboardPriority=keyboardPriority
    choice=choice
    moveUpKeys=moveUpKeys
    moveDownKeys=moveDownKeys
    cancelKeys=cancelKeys
    choose=(action 'choose' choice)
    focusDown=(action 'focusDown' index)
    focusUp=(action 'focusUp' index)
  }}
{{/each}}
