{{#if name}}
  <div class='et-dialogue-caption'>{{name}}</div>
{{/if}}
{{letter-by-letter
  completePage=(action 'completePage')
  completeText=(action 'completeText')
  pageCompleted=pageCompleted
  speed=textSpeed
  triggerPageTurn=triggerPageTurn
  turnPage=(action 'turnPage')
  text=text}}
