@mixin et-ember-base {
  border-style: $et-ember-border-style;
  border-color: $et-ember-border-color;
  background: $et-ember-background;
  color: $et-ember-color;
}

.et-ember {
  @include et-ember-base;

  .et-button {
    @include et-ember-base;

    border-style: $et-button-ember-border-style;

    &:hover, &:focus {
      background-color: $et-button-ember-hover-background-color;
      color: $et-button-ember-hover-color;
    }
  }

  .et-input {
    border-color: $et-input-ember-border-color;
    border-style: $et-input-ember-border-style;
    background: $et-input-ember-background-color;
    color: $et-input-ember-color;

    &:focus {
      border-color: $et-input-ember-focus-border-color;
    }
  }
}
