.CodeMirror {
  height: auto;
}

.et-code-challenge-readOnly {
  background-color: #000;
}

.et-code-challenge-button {
  cursor: pointer;
  position: relative;
}

.et-code-challenge-exception {
  position: relative;
  color: red;
}
