.et-text-tag {
  display: none;
}

.et-text-word {
  opacity: 0;
}

.et-text-letter {
  opacity: 0;
}

.et-dialogue {
  position: absolute;
  z-index: 100;
  box-sizing: border-box;
  text-align: $et-dialogue-text-align;

  .et-dialogue-caption {
    box-sizing: border-box;
    font-weight: $et-dialogue-caption-font-weight;
  }

  .et-dialogue-body-container {
    overflow: hidden;
    width: 100%;
    height: 100%;

    .et-dialogue-body {
      padding-bottom: 100vh;
    }
  }

  &.et-coastal {
    opacity: $et-dialogue-coastal-opacity;
    font-family: $et-dialogue-coastal-font-family;

    .et-dialogue-caption {
      @extend .et-coastal;

      font-family: $et-dialogue-caption-coastal-font-family;
    }
  }

  &.et-ember {
    opacity: $et-dialogue-ember-opacity;
    font-family: $et-dialogue-ember-font-family;

    .et-dialogue-caption {
      @extend .et-ember;

      font-family: $et-dialogue-caption-ember-font-family;
    }
  }

  &.et-paper {
    opacity: $et-dialogue-paper-opacity;
    font-family: $et-dialogue-paper-font-family;

    .et-dialogue-caption {
      @extend .et-paper;

      font-family: $et-dialogue-caption-paper-font-family;
    }
  }

  &.et-full-width {
    left: 0;
    right: 0;
    bottom: $et-dialogue-full-width-bottom;
    height: $et-dialogue-full-width-height;
    line-height: $et-dialogue-full-width-line-height;
    font-size: $et-dialogue-full-width-font-size;
    padding: $et-dialogue-full-width-padding;
    margin: $et-dialogue-full-width-margin;

    .et-dialogue-caption {
      position: absolute;
      top: $et-dialogue-caption-full-width-top;
      left: $et-dialogue-caption-full-width-left;
      padding: $et-dialogue-caption-full-width-padding;
      font-size: $et-dialogue-caption-full-width-font-size;
    }
  }
}
