.et-text-tag {
  display: none;
}

.et-text-word {
  opacity: 0;
}

.et-text-letter {
  opacity: 0;
}

.et-dialogue {
  position: absolute;
  z-index: 100;
  bottom: $et-dialogue-bottom;
  padding: $et-dialogue-padding;
  margin: 0;
  opacity: $et-dialogue-opacity;
  box-sizing: border-box;
  font-size: $et-dialogue-font-size;
  text-align: $et-dialogue-text-align;

  &.et-coastal {
    @extend .et-panel;
  }

  &.et-wide {
    left: 0;
    right: 0;
    height: $et-dialogue-wide-height;
    line-height: $et-dialogue-wide-line-height;
  }

  .et-dialogue-caption {
    @extend .et-panel;
    position: absolute;
    box-sizing: border-box;
    top: $et-dialogue-caption-top;
    left: $et-dialogue-caption-left;
    padding: $et-dialogue-caption-padding;
    font-size: $et-dialogue-caption-font-size;
    font-family: $et-dialogue-caption-font-family;
    font-weight: $et-dialogue-caption-font-weight;
  }

  .et-dialogue-body-container {
    overflow: hidden;
    width: 100%;
    height: 100%;

    .et-dialogue-body {
      padding-bottom: 100vh;
    }
  }
}
