.letter-by-letter {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  .letter-by-letter__word {
    display: flex;
    opacity: 0;

    &.letter-by-letter__visible {
      opacity: 1;
    }

    .letter-by-letter__character {
      display: inline-block;
      padding: 0;
      opacity: 0;
    }
  }
}
