{{#if name}}
  <div class='et-text-caption'>{{name}}</div>
{{/if}}
{{ember-theater/director/directable/text/body
  instantWriteText=instantWriteText
  keyboardPriority=keyboardPriority
  keys=keys
  text=text
  textStyle=textStyle
  textSpeed=textSpeed
  resolve=(action 'completeText')
}}
