{
  "extends": "ember",
  "parser": "babel-eslint",
  "globals": {
    "loki": true,
    "PerfectScrollbar": true,
    "requirejs": true,
    "visit": true,
    "andThen": true,
    "currentURL": true,
    "currentPath": true,
    "currentRouteName": true,
    "keyEvent": true,
    "delay": true,
    "step": true
  },
  "rules": {
    "arrow-parens": [2, "always"],
    "arrow-spacing": [2, { "before": true, "after": true }],
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "indent": [2, 2, { "SwitchCase": 1 }],
    "max-len": 0,
    "newline-per-chained-call": 0,
    "no-console": 0,
    "no-magic-numbers": 0,
    "no-nested-ternary": 0,
    "no-restricted-syntax": [2, "WithStatement"],
    "no-ternary": 0,
    "object-curly-spacing": [2, "always"],
    "space-before-function-paren": [2, "never"]
  }
}
