$et-blank-screen-background-color: #121212 !default;

$et-semi-transparency: 0.95;
$et-default-transition-speed: 500ms;
$et-director-perspective: 30vh;

@import "responsive";
@import "base";
@import "mixins";
@import "components";
@import "schemes";
