$et-curtain-background-color: #ddd !default;
$et-curtain-padding-top: 31vh !default;
$et-curtain-padding-sides: 31vw !default;

$et-curtain-message-margin-top: 2vh !default;
$et-curtain-message-font-size: $et-large-font-size !default;
