$et-menu-bar-vertical-rhythm: 1vh !default;

$et-menu-bar-font-size: $et-default-font-size !default;
$et-menu-bar-top: 0 !default;
$et-menu-bar-left: 0 !default;
$et-menu-bar-right: 0 !default;
$et-menu-bar-height: 10.5vh !default;
$et-menu-bar-padding: $et-menu-bar-vertical-rhythm 4vh !default;
$et-menu-bar-transition-speed: $et-default-transition-speed !default;

$et-menu-bar-icon-margin-left: $et-menu-bar-vertical-rhythm !default;
