$et-text-padding-base: 2.17vh;

$et-text-border-width: $et-default-border-width !default;
$et-text-opacity: $et-semi-transparency !default;
$et-text-font-family: $et-primary-serif !default;
$et-text-font-size: $et-default-font-size !default;
$et-text-text-align: justify !default;

$et-text-caption-font-family: $et-primary-sans-serif !default;
$et-text-caption-font-size: $et-tiny-font-size !default;
$et-text-caption-font-weight: bold !default;

// STRUCTURE STYLES

// block
$et-text-block-padding-base: $et-text-padding-base !default;
$et-text-block-padding: $et-text-block-padding-base $et-text-block-padding-base * 2 !default;
$et-text-block-margin: 0 !default;
$et-text-block-border-width: $et-text-border-width !default;
$et-text-block-font-size: $et-text-font-size !default;
$et-text-block-left: $et-block-left !default;
$et-text-block-right: $et-block-right !default;
$et-text-block-bottom: $et-block-bottom !default;
$et-text-block-line-height: $et-default-line-height !default;
$et-text-block-height: ($et-text-block-line-height * 3) +
                     ($et-text-block-border-width * 2) +
                     ($et-text-block-padding-base * 2) !default;

$et-text-caption-block-font-size: $et-text-caption-font-size !default;
$et-text-caption-block-top: $et-text-caption-block-font-size * -1.5 !default;
$et-text-caption-block-left: $et-text-block-padding-base !default;
$et-text-caption-block-padding: 0 $et-text-block-padding-base !default;

// full
$et-text-full-padding: $et-text-padding-base $et-full-padding !default;
$et-text-full-font-size: $et-text-font-size !default;
$et-text-caption-full-font-size: $et-text-caption-font-size !default;
$et-text-full-border-width: $et-text-border-width !default;

// wide
$et-text-wide-padding-base: $et-text-padding-base !default;
$et-text-wide-padding: $et-text-wide-padding-base $et-text-wide-padding-base * 2 !default;
$et-text-wide-margin: 0 !default;
$et-text-wide-border-width: $et-text-border-width !default;
$et-text-wide-font-size: $et-text-font-size !default;
$et-text-wide-bottom: 0 !default;
$et-text-wide-line-height: $et-default-line-height !default;
$et-text-wide-height: ($et-text-wide-line-height * 3) +
                     ($et-text-wide-border-width * 2) +
                     ($et-text-wide-padding-base * 2) !default;

$et-text-caption-wide-font-size: $et-text-caption-font-size !default;
$et-text-caption-wide-top: $et-text-caption-wide-font-size * -1.5 !default;
$et-text-caption-wide-left: $et-text-wide-padding-base !default;
$et-text-caption-wide-padding: 0 $et-text-wide-padding-base !default;

// PRESENTATION STYLES

$et-text-coastal-opacity: $et-text-opacity !default;
$et-text-coastal-font-family: $et-text-font-family !default;
$et-text-caption-coastal-font-family: $et-text-caption-font-family !default;

$et-text-ember-opacity: $et-text-opacity !default;
$et-text-ember-font-family: $et-text-font-family !default;
$et-text-caption-ember-font-family: $et-text-caption-font-family !default;

$et-text-paper-opacity: $et-text-opacity !default;
$et-text-paper-font-family: $et-text-font-family !default;
$et-text-caption-paper-font-family: $et-text-caption-font-family !default;

$et-text-transparent-opacity: $et-text-opacity !default;
$et-text-transparent-font-family: $et-text-font-family !default;
$et-text-caption-transparent-font-family: $et-text-caption-font-family !default;
