@mixin et-coastal-base {
  border-style: $et-coastal-border-style;
  border-color: $et-coastal-border-color;
  background: $et-coastal-background;
  color: $et-coastal-color;
}

.et-coastal {
  @include et-coastal-base;

  .et-button {
    @include et-coastal-base;
    @include et-highlight($et-coastal-highlight-color);

    border-style: $et-button-coastal-border-style;

    &:hover, &:focus {
      background-color: $et-button-coastal-hover-background-color;
    }
  }

  .et-input {
    @include et-highlight($et-coastal-highlight-color);
    border-color: $et-input-coastal-border-color;
    border-style: $et-input-ember-border-style;
    background: $et-input-coastal-background-color;
    color: $et-input-coastal-color;

    &:focus {
      border-color: $et-input-coastal-focus-border-color;
    }
  }
}

$et-menu-included: false !default;
$et-menu-bar-included: false !default;
$et-text-included: false !default;

@if ($et-menu-included == true) {
  .et-menu.et-coastal {
    @extend .et-coastal;

    background-color: $et-menu-coastal-background-color;
    opacity: $et-menu-coastal-opacity;

    .et-menu-header {
      @include et-highlight($et-coastal-highlight-color);
      font-family: $et-menu-header-coastal-font-family;
    }

    .et-menu-option {
      font-weight: $et-menu-option-coastal-font-weight;
      font-family: $et-menu-option-coastal-font-family;
    }
  }
}

@if ($et-menu-bar-included == true) {
  .et-menu-bar.et-coastal {
    @extend .et-coastal;
  }
}

@if ($et-text-included == true) {
  .et-text.et-coastal {
    opacity: $et-text-coastal-opacity;
    font-family: $et-text-coastal-font-family;

    .et-text-caption {
      @extend .et-coastal;
      @include et-highlight($et-coastal-highlight-color);

      font-family: $et-text-caption-coastal-font-family;
    }

    .et-text-body, .et-text-letter {
      @include et-highlight($et-coastal-highlight-color);
    }
  }
}
