@mixin et-ember-base {
  border-style: $et-ember-border-style;
  border-color: $et-ember-border-color;
  background: $et-ember-background;
  color: $et-ember-color;
}

.et-ember {
  @include et-ember-base;

  .et-button {
    @include et-ember-base;
    @include et-highlight($et-ember-highlight-color);

    border-style: $et-button-ember-border-style;

    &:hover, &:focus {
      background-color: $et-button-ember-hover-background-color;
      color: $et-button-ember-hover-color;
    }
  }

  .et-input {
    @include et-highlight($et-ember-highlight-color);
    border-color: $et-input-ember-border-color;
    border-style: $et-input-ember-border-style;
    background: $et-input-ember-background-color;
    color: $et-input-ember-color;

    &:focus {
      border-color: $et-input-ember-focus-border-color;
    }
  }
}

$et-menu-included: false !default;
$et-menu-bar-included: false !default;
$et-text-included: false !default;

@if ($et-menu-included == true) {
  .et-menu.et-ember {
    @extend .et-ember;

    background-color: $et-menu-ember-background-color;
    opacity: $et-menu-ember-opacity;

    .et-menu-header {
      @include et-highlight($et-ember-highlight-color);
      font-family: $et-menu-header-ember-font-family;
    }

    .et-menu-option {
      font-weight: $et-menu-option-ember-font-weight;
      font-family: $et-menu-option-ember-font-family;
    }
  }
}

@if ($et-menu-bar-included == true) {
  .et-menu-bar.et-ember {
    @extend .et-ember;
  }
}

@if ($et-text-included == true) {
  .et-text.et-ember {
    opacity: $et-text-ember-opacity;
    font-family: $et-text-ember-font-family;

    .et-text-caption {
      @extend .et-ember;
      @include et-highlight($et-ember-highlight-color);

      font-family: $et-text-caption-ember-font-family;
    }

    .et-text-body, .et-text-letter {
      @include et-highlight($et-ember-highlight-color);
    }
  }
}
