@mixin et-paper-base {
  border-style: $et-paper-border-style;
  border-color: $et-paper-border-color;
  background: $et-paper-background;
  color: $et-paper-color;
}

.et-paper {
  @include et-paper-base;

  .et-button {
    @include et-highlight($et-paper-highlight-color);
    border-style: $et-button-paper-border-style;
    border-color: $et-button-paper-border-color;
    background: $et-button-paper-background-color;
    color: $et-button-paper-color;

    &:hover, &:focus {
      background-color: $et-button-paper-hover-background-color;
      color: $et-button-paper-hover-color;
      border-color: $et-button-paper-hover-border-color;
    }
  }

  .et-input {
    @include et-highlight($et-paper-highlight-color);
    border-color: $et-input-paper-border-color;
    border-style: $et-input-ember-border-style;
    background: $et-input-paper-background-color;
    color: $et-input-paper-color;

    &:focus {
      border-color: $et-input-paper-focus-border-color;
    }
  }
}

$et-menu-included: false !default;
$et-menu-bar-included: false !default;
$et-text-included: false !default;

@if ($et-menu-included == true) {
  .et-menu.et-paper {
    @extend .et-paper;

    background-color: $et-menu-paper-background-color;
    opacity: $et-menu-paper-opacity;

    .et-menu-header {
      @include et-highlight($et-paper-highlight-color);
      font-family: $et-menu-header-paper-font-family;
      color: $et-menu-header-paper-color;
    }

    .et-menu-option {
      font-weight: $et-menu-option-paper-font-weight;
      font-family: $et-menu-option-paper-font-family;
    }
  }
}

@if ($et-menu-bar-included == true) {
  .et-menu-bar.et-paper {
    @extend .et-paper;
  }
}

@if ($et-text-included == true) {
  .et-text.et-paper {
    opacity: $et-text-paper-opacity;
    font-family: $et-text-paper-font-family;

    .et-text-caption {
      @extend .et-paper;
      @include et-highlight($et-paper-highlight-color);

      font-family: $et-text-caption-paper-font-family;
    }

    .et-text-body, .et-text-letter {
      @include et-highlight($et-paper-highlight-color);
    }
  }
}
