@mixin et-transparent-base {
  border-style: $et-transparent-border-style;
  border-color: $et-transparent-border-color;
  background: $et-transparent-background-color;
  color: $et-transparent-color;
}

.et-transparent {
  @include et-transparent-base;

  .et-button {
    @include et-transparent-base;
    @include et-highlight($et-transparent-hightlight-text-color);

    border-style: $et-button-transparent-border-style;
    background-color: $et-button-transparent-background-color;

    &:hover, &:focus {
      background-color: $et-button-transparent-hover-background-color;
    }
  }

  .et-input {
    @include et-highlight($et-transparent-hightlight-text-color);
    border-color: $et-input-transparent-border-color;
    border-style: $et-input-ember-border-style;
    background: $et-input-transparent-background-color;
    color: $et-input-transparent-color;

    &:focus {
      border-color: $et-input-transparent-focus-border-color;
    }
  }
}

$et-menu-included: false !default;
$et-menu-bar-included: false !default;
$et-text-included: false !default;

@if ($et-menu-included == true) {
  .et-menu.et-transparent {
    @extend .et-transparent;

    background-color: $et-menu-transparent-background-color;
    opacity: $et-menu-transparent-opacity;

    .et-menu-header {
      @include et-highlight($et-transparent-hightlight-text-color);
      font-family: $et-menu-header-transparent-font-family;
      color: $et-menu-header-transparent-color;
    }

    .et-menu-option {
      font-weight: $et-menu-option-transparent-font-weight;
      font-family: $et-menu-option-transparent-font-family;
    }
  }
}

@if ($et-menu-bar-included == true) {
  .et-menu-bar.et-transparent {
    @extend .et-transparent;
  }
}

@if ($et-text-included == true) {
  .et-text.et-transparent {
    opacity: $et-text-transparent-opacity;
    font-family: $et-text-transparent-font-family;

    .et-text-caption {
      @extend .et-transparent;
      @include et-highlight($et-transparent-hightlight-text-color);

      font-family: $et-text-caption-transparent-font-family;
    }

    .et-text-body, .et-text-letter {
      @include et-highlight($et-transparent-hightlight-text-color);
    }
  }
}
