.et-backdrop-container, .et-backdrop {
  @extend .et-unselectable;
  height: 100%;
  width: 100%;
}

.et-backdrop-container {
  display: flex;
  position: absolute;
}

.et-backdrop {
  object-fit: cover;

  color: transparent;
}
