.et-character {
  z-index: 10;
  width: 100%;

  position: absolute;
  bottom: 0;
  left: 0;

  .et-character-expression-container {
    position: absolute;
    height: 100%;
    transform: translateX(-50%);
  }

  .et-character-expression {
    @extend .et-hidden;

    position: relative;
    height: 100%;
  }
}
