.et-character {
  @extend .et-unselectable;
  z-index: 10;

  position: absolute;
  bottom: 0;
  left: 0;

  .et-character-expression-container {
    position: absolute;
    height: 100%;
  }

  .et-character-expression {
    position: absolute;
    height: 100%;
    transform: translateX(-50%);
  }
}
