$et-choice-included: true;

.et-choice {
  z-index: 1000;

  position: absolute;

  .et-choice-option-pair-major {
    display: inline-block;
    float: $et-choice-option-pair-major-float;
    width: $et-choice-option-pair-major-width;
  }

  .et-choice-option-pair-minor {
    display: inline-block;
    float: $et-choice-option-pair-minor-float;
    width: $et-choice-option-pair-minor-width;
  }

  .et-choice-option {
    @extend .et-button;

    display: block;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .et-choice-header {
    margin: $et-choice-header-margin;
  }

  .et-choice-option, .et-choice-header, .et-choice-input {
    line-height: $et-choice-child-line-height;
    text-align: $et-choice-child-text-align;
  }

  .et-choice-input {
    @extend .et-input;
  }

  .et-choice-close {
    position: absolute;
    width: inherit !important;
    top: $et-choice-padding;
    right: $et-choice-padding;
    padding: 0 $et-choice-padding;

    .et-choice-option-text {
      @extend .sr-only;
    }
  }
}
