$et-text-included: true;

.et-text-word {
  display: inline-block;
  opacity: 0;
}

.et-text-letter {
  display: inline-block;
  opacity: 0;
}

.et-text-tag {
  display: none;
}

.et-text-container {
  @extend .et-full-screen;

  z-index: 100;
}

.et-text {
  text-align: $et-text-text-align;
  position: absolute;

  .et-text-caption {
    font-weight: $et-text-caption-font-weight;
  }

  .et-text-body-container {
    overflow: hidden;
    width: 100%;
    height: 100%;

    .et-text-body {
      padding-bottom: 100%;
    }
  }

  &.et-scrollable {
    .et-text-body {
      padding-bottom: 0;
    }
  }
}
