.ember-theater-stage {
  overflow: hidden;
}

.ember-theater,
.ember-theater-stage,
.ember-theater-stage__backdrop,
.ember-theater-stage__character,
.ember-theater-stage__portrait {
  position: absolute;
}

.ember-theater,
.ember-theater-stage,
.ember-theater-stage__backdrop {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ember-theater-stage__backdrop {
  background-size: cover;
  background-position: center;
}
.ember-theater-stage__character {
  bottom: 0;
  left: 0;
}

.ember-theater-stage__portrait {
  height: 100%;
  opacity: 0;
}
