.ember-theater-stage {
  overflow: hidden;
  background-color: #333;
  perspective: 30vh;
}

.ember-theater,
.ember-theater__director,
.ember-theater-stage,
.ember-theater-stage__backdrop,
.ember-theater-stage__character,
.ember-theater-stage__expression {
  position: absolute;
}

.ember-theater,
.ember-theater__director,
.ember-theater-stage,
.ember-theater-stage__backdrop {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ember-theater-stage__character, .ember-theater-stage__expression, .ember-theater-stage__backdrop {
  opacity: 0;
}

.ember-theater-stage__backdrop {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  color: transparent;
}

.ember-theater-stage__character {
  bottom: 0;
  left: 0;
  z-index: 10;
}

.ember-theater-stage__expression {
  height: 100%;
}

.ember-theater-stage__dialogue {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0;
  right: 0;
  height: 39vh;
  padding: 4vh;
  margin: 0;
  opacity: .9;
  box-sizing: border-box;
}

.ember-theater-stage__dialogue, .ember-theater-stage-dialogue__caption,
.ember-theater-stage__choice, .ember-theater-stage-choice__option {
  border: .5vh solid #00585F;
  background: #009393;
  color: #FFFCC4;
}

.ember-theater-stage-dialogue__caption {
  position: absolute;
  top: -6vh;
  left: 2vh;
  padding: 1vh 2vh;
  font-size: 6vh;
}

.ember-theater-stage-dialogue__body-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  line-height: 10vh;
}

.ember-theater-stage-dialogue__body {
  position: relative;
  font-size: 6vh;
}

.ember-theater-stage__choice {
  z-index: 1000;
  position: absolute;
  top: 20vh;
  left: 21vw;
  right: 21vw;
  padding: .1vw;
  max-height: 100vh;
  background-color: #00585F;
  box-sizing: border-box;
  opacity: .9;
  transform: translateY(-20%);
}

.ember-theater-stage-choice__option {
  display: block;
  cursor: pointer;
  border-radius: .5vw;
  transition: background 500ms ease;
  margin-bottom: .1vw;
  width: 100%;
}

.ember-theater-stage-choice__option, .ember-theater-stage-choice__header {
  line-height: 7vh;
  text-align: center;
  font-size: 5vh;
}

.ember-theater-stage-choice__header {
  font-size: 6vh;
  margin-bottom: 1vw;
}

.ember-theater-stage-choice__option:last-child {
  margin-bottom: 0;
}

.ember-theater-stage-choice__option:hover, .ember-theater-stage-choice__option:focus {
  background-color: #FF3800;
  outline: 0;
}
