.ember-theater-stage {
  overflow: hidden;
  background-color: #333;
  perspective: 30vh;
}

.ember-theater,
.ember-theater__director,
.ember-theater-stage,
.ember-theater-stage__backdrop,
.ember-theater-stage__character,
.ember-theater-stage__portrait {
  position: absolute;
}

.ember-theater,
.ember-theater__director,
.ember-theater-stage,
.ember-theater-stage__backdrop {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ember-theater-stage__character, .ember-theater-stage__backdrop {
  opacity: 0;
}

.ember-theater-stage__backdrop {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  color: transparent;
}

.ember-theater-stage__character {
  bottom: 0;
  left: 0;
  z-index: 10;
}

.ember-theater-stage__portrait {
  height: 100%;
}
