{{#if displayName}}
  <div class='ember-theater-stage-speech__caption'>{{displayName}}</div>
{{/if}}
<div class='ember-theater-stage-speech__body-container'>
  <div class='ember-theater-stage-speech__body'>
    {{line.text}}
  </div>
</div>
