$et-ember-primary-color: #E1563F !default;
$et-ember-secondary-color: #AA412F !default;
$et-ember-highlight-color: #f2d1cb !default;
$et-ember-neutral-color: #FAF4F1 !default;

$et-ember-border-style: $et-default-border-style !default;
$et-ember-border-color: $et-ember-secondary-color !default;
$et-ember-background: $et-ember-primary-color !default;
$et-ember-color: $et-ember-neutral-color !default;

$et-button-ember-border-style: $et-default-border-style !default;

$et-button-ember-hover-background-color: $et-ember-highlight-color !default;
$et-button-ember-hover-color: $et-ember-primary-color !default;

$et-input-ember-background-color: $et-ember-neutral-color !default;
$et-input-ember-color: $et-ember-primary-color !default;
$et-input-ember-border-color: $et-ember-secondary-color !default;
$et-input-ember-border-style: $et-button-ember-border-style !default;

$et-input-ember-focus-border-color: $et-ember-highlight-color !default;

// menu
$et-menu-ember-background-color: $et-ember-secondary-color !default;
$et-menu-ember-opacity: $et-menu-opacity !default;

$et-menu-header-ember-font-family: $et-menu-header-font-family !default;

$et-menu-option-ember-font-weight: $et-menu-option-font-weight !default;
$et-menu-option-ember-font-family: $et-menu-option-font-family !default;

// ember
$et-text-ember-opacity: $et-text-opacity !default;
$et-text-ember-font-family: $et-text-font-family !default;
$et-text-caption-ember-font-family: $et-text-caption-font-family !default;
