$et-transparent-primary-color: transparent !default;
$et-transparent-secondary-color: transparent !default;
$et-transparent-highlight-color: transparent !default;
$et-transparent-neutral-color: #FFFCC4 !default;
$et-transparent-hightlight-text-color: #333333 !default;

$et-transparent-border-style: $et-default-border-style !default;
$et-transparent-border-color: $et-transparent-secondary-color !default;
$et-transparent-color: $et-transparent-neutral-color !default;
$et-transparent-background-color: $et-transparent-primary-color !default;

$et-button-transparent-border-style: $et-default-border-style !default;
$et-button-transparent-background-color: $et-transparent-primary-color !default;

$et-button-transparent-hover-background-color: rgba(255, 255, 255, 0.15) !default;

$et-input-transparent-background-color: $et-transparent-neutral-color !default;
$et-input-transparent-color: $et-transparent-primary-color !default;
$et-input-transparent-border-color: $et-transparent-secondary-color !default;
$et-input-transparent-border-style: $et-button-transparent-border-style !default;

$et-input-transparent-focus-border-color: $et-transparent-highlight-color !default;

// menu
$et-menu-transparent-background-color: $et-transparent-primary-color !default;
$et-menu-transparent-opacity: $et-menu-opacity !default;

$et-menu-header-transparent-font-family: $et-menu-header-font-family !default;
$et-menu-header-transparent-color: $et-transparent-neutral-color !default;

$et-menu-option-transparent-font-weight: $et-menu-option-font-weight !default;
$et-menu-option-transparent-font-family: $et-menu-option-font-family !default;

// transparent
$et-text-transparent-opacity: $et-text-opacity !default;
$et-text-transparent-font-family: $et-text-font-family !default;
$et-text-caption-transparent-font-family: $et-text-caption-font-family !default;
