.ember-theater {
  .et-character {
    @extend .et-hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;

    .et-character-expression {
      @extend .et-hidden;
      position: absolute;
      height: 100%;
    }
  }
}
