{{#if name}}
  <div class='et-text-caption'>{{name}}</div>
{{/if}}
{{ember-theater/director/text/body
  instantWriteText=instantWriteText
  keys=keys
  text=text
  textEffect=textEffect
  textSpeed=textSpeed
  resolve=(action 'completeText')
}}
