<div class="et-menu-bar-container {{decorativeClassNames}}">
  <div class="et-menu-bar {{configurableClassNames}}">
    {{#each plugins as |pluginName|}}
      {{component pluginName
        theaterId=theaterId
        keyboardActivated=keyboardActivated
        openMenu=(action "openMenu" pluginName)
      }}
    {{/each}}
  </div>
</div>

{{#if currentMenu}}
  {{component currentMenu
    theaterId=theaterId
    keyboardActivated=keyboardActivated
    closeMenu=(action "closeMenu")
  }}
{{/if}}
