$et-input-border-radius: $et-default-border-radius !default;
$et-input-font-size: $et-default-font-size !default;
$et-input-transition-speed: $et-default-transition-speed !default;
$et-input-border-width: $et-default-border-width !default;
