$et-choice-width: 62vw !default;
$et-choice-rhythm: 0.1vw !default;

$et-choice-top: 20% !default;
$et-choice-right: (100 - $et-choice-width) / 2 !default;
$et-choice-left: (100 - $et-choice-width) / 2 !default;
$et-choice-padding: $et-choice-rhythm * 5 !default;
$et-choice-background-color: $et-secondary-color !default;
$et-choice-opacity: $et-semi-transparency !default;

$et-choice-header-font-size: $et-large-font-size !default;
$et-choice-header-margin-bottom: $et-choice-rhythm * 10 !default;

$et-choice-option-margin-bottom: $et-choice-rhythm !default;

$et-choice-child-line-height: $et-default-line-height !default;
$et-choice-child-text-align: center !default;
