$et-dialogue-width: 100vw !default;

$et-dialogue-height: 32vh !default;
$et-dialogue-bottom: 0 !default;
$et-dialogue-right: (100 - $et-dialogue-width) / 2 !default;
$et-dialogue-left: (100 - $et-dialogue-width) / 2 !default;
$et-dialogue-padding: 4vh !default;
$et-dialogue-padding-bottom: $et-dialogue-padding * 0.75 !default;
$et-dialogue-opacity: $et-semi-transparency !default;
$et-dialogue-font-size: $et-default-font-size !default;
$et-dialogue-line-height: $et-default-line-height !default;
$et-dialogue-text-align: left !default;

$et-dialogue-caption-padding: $et-dialogue-padding / 4 $et-dialogue-padding / 2 !default;
$et-dialogue-caption-font-size: $et-large-font-size !default;
$et-dialogue-caption-top: -$et-dialogue-caption-font-size !default;
$et-dialogue-caption-left: $et-dialogue-padding / 2 !default;
