@font-face {
  font-family: 'Andada';
  font-weight: 400;
  src: url('../ember-theater/fonts/Andada/Andada-Regular.otf');
}

@font-face {
  font-family: 'Andada';
  font-weight: 400;
  font-style: italic;
  src: url('../ember-theater/fonts/Andada/Andada-Italic.otf');
}

@font-face {
  font-family: 'Andada';
  font-weight: 700;
  src: url('../ember-theater/fonts/Andada/Andada-Bold.otf');
}

@font-face {
  font-family: 'Andada';
  font-weight: 700;
  font-style: italic;
  src: url('../ember-theater/fonts/Andada/Andada-BoldItalic.otf');
}
