$et-block-left: 15%;
$et-block-right: 15%;
$et-block-bottom: 10%;

// menu
$et-menu-block-width: 62% !default;
$et-menu-block-top: 20% !default;
$et-menu-block-right: (100 - $et-menu-block-width) / 2 !default;
$et-menu-block-left: (100 - $et-menu-block-width) / 2 !default;
$et-menu-block-padding: $et-menu-padding !default;
$et-menu-block-border-width: $et-menu-border-width !default;
$et-menu-block-border-radius: $et-default-border-radius !default;

$et-menu-header-block-font-size: $et-menu-header-font-size !default;
$et-menu-header-block-margin-bottom: $et-menu-header-margin-bottom !default;
$et-menu-header-block-line-height: $et-default-line-height !default;

$et-menu-option-block-font-size: $et-menu-option-font-size !default;
$et-menu-option-block-margin-bottom: $et-menu-option-margin-bottom !default;
$et-menu-option-block-width: $et-menu-option-width !default;
$et-menu-option-block-border-width: $et-menu-border-width !default;
$et-menu-option-block-line-height: $et-default-line-height !default;

// text
$et-text-block-padding-base: $et-text-padding-base !default;
$et-text-block-padding-ends: $et-text-block-padding-base !default;
$et-text-block-padding-sides: $et-text-block-padding-base !default;
$et-text-block-margin: 0 !default;
$et-text-block-border-width: $et-text-border-width !default;
$et-text-block-font-size: $et-text-font-size !default;
$et-text-block-left: $et-block-left !default;
$et-text-block-right: $et-block-right !default;
$et-text-block-bottom: $et-block-bottom !default;
$et-text-block-line-height: $et-default-line-height !default;
$et-text-block-height: ($et-text-block-line-height * 3) +
                     ($et-text-block-border-width * 2) +
                     ($et-text-block-padding-base * 2) !default;
$et-text-block-height-responive-small: $et-text-block-height + $et-text-block-line-height !default;
$et-text-block-border-radius: $et-default-border-radius !default;

$et-text-caption-block-font-size: $et-text-caption-font-size !default;
$et-text-caption-block-top: $et-text-caption-block-font-size * -1.5 !default;
$et-text-caption-block-side: $et-text-block-padding-base !default;
$et-text-caption-block-padding-ends: 0 !default
$et-text-caption-block-padding-sides: $et-text-block-padding-base !default;
$et-text-caption-block-border-radius: $et-text-block-border-radius * 0.7 !default;

// text-menu

$et-text-menu-block-margin-top: $et-text-block-line-height !default;
$et-text-menu-block-width: $et-menu-block-width !default;
