$et-full-padding: 19%;

// menu
$et-menu-full-padding: $et-menu-padding !default;
$et-menu-full-border-width: $et-menu-border-width !default;
$et-menu-full-border-radius: $et-default-border-radius !default;

$et-menu-header-full-font-size: $et-menu-header-font-size !default;
$et-menu-header-full-margin-bottom: $et-menu-header-margin-bottom !default;

$et-menu-option-full-font-size: $et-menu-option-font-size !default;
$et-menu-option-full-margin-bottom: $et-menu-option-margin-bottom !default;
$et-menu-option-full-width: $et-menu-option-width !default;
$et-menu-option-full-border-width: $et-menu-border-width !default;

// text
$et-text-full-padding: $et-text-padding-base !default;
$et-text-full-font-size: $et-text-font-size !default;
$et-text-full-line-height: $et-default-line-height !default;
$et-text-caption-full-font-size: $et-text-caption-font-size !default;
$et-text-full-border-width: $et-text-border-width !default;
$et-text-full-border-radius: $et-default-border-radius !default;

// text-menu
$et-text-menu-full-margin-top: $et-text-full-line-height !default;
