{{#if translatedHeader}}
  <div class='et-choice-header'>{{translatedHeader}}</div>
{{/if}}
{{#each translatedChoices as |choice|}}
  {{ember-theater/director/directable/choice/option
    keyboardActivated=keyboardActivated
    keyboardPriority=keyboardPriority
    choice=choice
    cancelKeys=cancelKeys
    choose=(action 'choose' choice)
  }}
{{/each}}
