.ember-theater {
  .et-choice {
    @extend .et-panel;
    z-index: 1000;
    position: absolute;
    box-sizing: border-box;
    transform: translateY(-$et-choice-top);
    top: $et-choice-top;
    right: $et-choice-right;
    left: $et-choice-left;
    max-height: 100vh;
    padding: $et-choice-padding;
    background-color: $et-choice-background-color;
    opacity: $et-choice-opacity;

    .et-choice-header {
      font-size: $et-choice-header-font-size;
      margin-bottom: $et-choice-header-margin-bottom;
    }

    .et-choice-option {
      @extend .et-panel;
      display: block;
      cursor: pointer;
      border-radius: $et-choice-option-border-radius;
      transition: background $et-choice-option-transition-speed ease;
      margin-bottom: $et-choice-option-margin-bottom;
      width: 100%;
      font-size: $et-choice-option-font-size;

      &:hover, &:focus {
        background-color: $et-choice-option-hover-background-color;
        outline: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .et-choice-option, .et-choice-header {
      line-height: $et-choice-child-line-height;
      text-align: $et-choice-child-text-align;
    }
  }
}
