{{#if name}}
  <div class='ember-theater-stage-dialogue__caption'>{{name}}</div>
{{/if}}
<div class='ember-theater-stage-dialogue__body-container'>
  <div class='ember-theater-stage-dialogue__body'>
    {{text}}
  </div>
</div>
