{{#if name}}
  <div class='ember-theater-stage-dialogue__caption'>{{name}}</div>
{{/if}}
{{letter-by-letter
  pageComplete=(action 'pageComplete')
  pageTurned=(action 'pageTurned')
  speed=textSpeed
  textComplete=(action 'textComplete')
  turnPage=turnPage
  text=text}}
