{{#if displayName}}
  <div class='ember-theater-stage-dialogue__caption'>{{displayName}}</div>
{{/if}}
<div class='ember-theater-stage-dialogue__body-container'>
  <div class='ember-theater-stage-dialogue__body'>
    {{displayText}}
  </div>
</div>
