.et-input {
  border-width: $et-input-border-width;
  border-radius: $et-input-border-radius;
  font-size: $et-input-font-size;
  transition: border $et-input-transition-speed ease;
  
  outline: none;
  box-sizing: border-box;
}
