$et-menu-bar-included: true;

.et-menu-bar-container, .et-menu-bar {
  top: $et-menu-bar-top;
  left: $et-menu-bar-left;
  right: $et-menu-bar-right;
  transition: transform $et-menu-bar-transition-speed ease, height $et-menu-bar-transition-speed ease;

  z-index: 1000;
  position: absolute;
}

.et-menu-bar-container {
  height: $et-menu-bar-height / 15;
  border-left: 0;
  border-right: 0;
  border-top: 0;

  &:hover {
    height: $et-menu-bar-height;

    .et-menu-bar {
      transform: translateY(0);
    }
  }
}

.et-menu-bar {
  padding: $et-menu-bar-padding;
  font-size: $et-menu-bar-font-size;
  transform: translateY(-$et-menu-bar-height);

  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  border-left: 0;
  border-right: 0;
  border-top: 0;

  .et-menu-bar-control-icon {
    @extend .et-button;

    margin-left: $et-menu-bar-icon-margin-left;
  }
}
