{{#if name}}
  <div class='et-text-caption {{namePosition}}'>{{name}}</div>
{{/if}}
{{ember-theater/director/directable/text/body
  instantWriteText=instantWriteText
  keyboardActivated=keyboardActivated
  keyboardPriority=keyboardPriority
  keys=keys
  text=text
  textAnimation=textAnimation
  textSpeed=textSpeed
  resolve=(action 'completeText')
}}
