{{#if activeCharacterByCharacter}}
  {{#each word key='@index' as |character index|}}
    {{letter-by-letter/word/character
      activeCharacterIndex=activeCharacterIndex
      index=index
      character=character
      speed=speed
      incrementActiveCharacterIndex=(action 'incrementActiveCharacterIndex')}}
  {{/each}}
{{else}}
  <span>{{word}}</span>
{{/if}}
<span class='letter-by-letter__character'>&nbsp;</span>
