{{#each word key='@index' as |character index|}}
  {{letter-by-letter/word/character
    currentCharacter=currentCharacter
    incrementCurrentCharacter=(action 'incrementCurrentCharacter')
    index=index
    character=character
    speed=speed}}
{{/each}}
<span class='letter-by-letter__character'>&nbsp;</span>
