@import "ember-theater/curtain";
@import "ember-theater/director";
@import "ember-theater/layer";
@import "ember-theater/menu-bar";

.ember-theater {
  @extend .et-full-screen;
  
  background-color: $et-blank-screen-background-color;
  font-family: $et-primary-font-family;

  overflow: hidden;
  box-sizing: border-box;

  *, *:before, *:after {
    box-sizing: inherit;
  }
}
