{{#if header}}
  <div class='et-choice-header'>{{header}}</div>
{{/if}}
{{#each choices as |choice|}}
  <button {{action 'choose' choice.path}} class='et-choice-option'>{{choice.text}}</button>
{{/each}}
