$et-choice-rhythm: $et-default-line-height / 10 !default;

$et-choice-padding: $et-choice-rhythm * 5 !default;
$et-choice-border-width: $et-default-border-width !default;
$et-choice-opacity: $et-semi-transparency !default;

$et-choice-header-font-size: $et-large-font-size !default;
$et-choice-header-margin: 0 $et-choice-rhythm !default;
$et-choice-header-margin-bottom: $et-choice-rhythm * 8 !default;
$et-choice-header-font-family: $et-primary-serif !default;

$et-choice-option-pair-major-float: left !default;
$et-choice-option-pair-major-width: 90% !default;
$et-choice-option-pair-minor-float: right !default;
$et-choice-option-pair-minor-width: 9% !default;

$et-choice-option-margin-bottom: $et-choice-rhythm * 2 !default;
$et-choice-option-font-size: $et-small-font-size !default;
$et-choice-option-width: 100% !default;
$et-choice-option-font-weight: bold !default;
$et-choice-option-font-family: $et-primary-sans-serif !default;

$et-choice-child-line-height: $et-default-line-height !default;
$et-choice-child-text-align: center !default;
