$et-coastal-primary-color: #009393 !default;
$et-coastal-secondary-color: #00585F !default;
$et-coastal-highlight-color: #FF3800 !default;
$et-coastal-neutral-color: #FFFCC4 !default;

$et-coastal-border-style: $et-default-border-style !default;
$et-coastal-border-color: $et-coastal-secondary-color !default;
$et-coastal-background: $et-coastal-primary-color !default;
$et-coastal-color: $et-coastal-neutral-color !default;

$et-button-coastal-border-style: $et-default-border-style !default;

$et-button-coastal-hover-background-color: $et-coastal-highlight-color !default;

$et-input-coastal-background-color: $et-coastal-neutral-color !default;
$et-input-coastal-color: $et-coastal-primary-color !default;
$et-input-coastal-border-color: $et-coastal-secondary-color !default;
$et-input-coastal-border-style: $et-button-coastal-border-style !default;

$et-input-coastal-focus-border-color: $et-coastal-highlight-color !default;

// choice
$et-choice-coastal-background-color: $et-coastal-secondary-color !default;
$et-choice-coastal-opacity: $et-choice-opacity !default;

$et-choice-header-coastal-font-family: $et-choice-header-font-family !default;

$et-choice-option-coastal-font-weight: $et-choice-option-font-weight !default;
$et-choice-option-coastal-font-family: $et-choice-option-font-family !default;

// text
$et-text-coastal-opacity: $et-text-opacity !default;
$et-text-coastal-font-family: $et-text-font-family !default;
$et-text-caption-coastal-font-family: $et-text-caption-font-family !default;
